#!/bin/bash

export OS_USERNAME=admin
export OS_PASSWORD=root
export OS_PROJECT_NAME=admin
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_AUTH_URL=http://{{ hostvars['controller']['ansible_enp0s3']['ipv4']['address'] }}:5000/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2


openstack user create --domain default --password {{ glance_user_password }} glance
openstack role add --project service --user glance admin
openstack service create --name glance \
  --description "OpenStack Image" image
openstack endpoint create --region RegionOne \
  image public http://{{ hostvars['controller']['ansible_enp0s3']['ipv4']['address'] }}:9292
openstack endpoint create --region RegionOne \
  image public http://{{ hostvars['controller']['ansible_enp0s3']['ipv4']['address'] }}:9292
openstack endpoint create --region RegionOne \
  image public http://{{ hostvars['controller']['ansible_enp0s3']['ipv4']['address'] }}:9292
